<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ecd_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".ECDApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.ECD_App"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".fullScreenVideoPlayer"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:configChanges="orientation|screenSize|screenLayout"
            android:parentActivityName=".DetailedPostActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false"
            android:parentActivityName=".DashBoard" />
        <activity
            android:name=".ContactActivity"
            android:exported="false"
            android:parentActivityName=".DashBoard" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ArticleListActivity"
            android:exported="false"
            android:parentActivityName=".DashBoard" />
        <activity
            android:name=".ArticleActivity"
            android:exported="false"
            android:parentActivityName=".ArticleListActivity" />

        <service android:name=".OnRetrofitResponseAsyncTask" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBTkACIPQn4up85c8ET2SeKUsau-TZtQeE" />

        <activity
            android:name=".DisplayMapActivity"
            android:exported="false"
            android:label="@string/title_activity_display_map"
            android:parentActivityName=".MapActivity" />
        <activity
            android:name=".MapActivity"
            android:exported="false"
            android:parentActivityName=".DashBoard" />
        <activity
            android:name=".DashBoard"
            android:exported="false" />
        <activity
            android:name=".DetailedPostActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:parentActivityName=".DashBoard" />
    </application>

</manifest>